In [1]:
!pip install pyhive
!pip install sasl
!pip install thrift

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyhive in /opt/anaconda3/lib/python3.7/site-packages (0.6.5)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.7/site-packages (from pyhive) (2.8.1)
Requirement already satisfied: future in /opt/anaconda3/lib/python3.7/site-packages (from pyhive) (0.18.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil->pyhive) (1.14.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sasl in /opt/anaconda3/lib/python3.7/site-packages (0.3.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from sasl) (1.14.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: thrift in /opt/anaconda3/lib/python3.7/site-packages (0.13.0)
Requirement already satisfied: six>=1.7.2 in /opt/anaconda3/lib/python3.7/site-packages (from thrift) (1.14.0)

# Hive to Python

In [20]:
from pyhive import hive

# Specify the HiveServer2 hostname and port
hostname = 'ip-10-1-1-204.ap-south-1.compute.internal'
port = 10000  # Default HiveServer2 port

# Connect to Hive
conn = hive.Connection(host=hostname, port=port, username='susan1232')

# Create a cursor object
cursor = conn.cursor()

# Example: Use a specific database
database_name = 'test'
cursor.execute(f"USE {database_name}")

# Example: Select data from a table
table_name = 'data'
query = f"SELECT * FROM {table_name}"
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()

('ajay', 29)
('tanishq', 25)

# Pyhton to Hive

In [21]:
import pandas as pd

# Example DataFrame
data = {
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [25, 30, 35, 40, 45]
}

df = pd.DataFrame(data)
print(df)

   id     name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   5      Eve   45

In [22]:
from pyhive import hive

# Specify the HiveServer2 hostname and port
hostname = 'ip-10-1-1-204.ap-south-1.compute.internal'
port = 10000  # Default HiveServer2 port
username = 'susan1232'  # Your Hive username

# Connect to Hive
conn = hive.Connection(host=hostname, port=port, username=username)

In [23]:
# Create a cursor object
cursor = conn.cursor()

# Example: Define table schema and create table
table_name = 'my_table1'
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    id INT,
    name STRING,
    age INT
)
"""
cursor.execute(create_table_query)

In [24]:
# Example: Insert data into Hive table
for index, row in df.iterrows():
    insert_query = f"""
    INSERT INTO {table_name} (id, name, age)
    VALUES ({row['id']}, '{row['name']}', {row['age']})
    """
    cursor.execute(insert_query)

# Commit changes
conn.commit()

# Close cursor and connection
cursor.close()
conn.close()

# Hive to Pyspark

In [37]:
from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("hive_connection_example") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .enableHiveSupport() \
    .getOrCreate()

from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("hive_query_example") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .enableHiveSupport() \
    .getOrCreate()

# Set the database to use
spark.sql("USE Sampledatabase3")

# Query the data from the 'data' table
data_df = spark.sql("SELECT * FROM my_table22 limit5")

# Show the content of the DataFrame
data_df.show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                           9.34E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                           5.69E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                       3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                       6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                       2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                       5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|       Unknown|        $120K +|         Blue|            31|                       5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|                                                                                                                         1.9094E-4|                                                                                                                           0.99981|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                       6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|                                                                                                                         1.9751E-4|                                                                                                                            0.9998|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                       3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|                                                                                                                         4.7799E-5|                                                                                                                           0.99995|
|816082233|Existing Customer|          35|     M|              3|       Graduate|       Unknown|    $60K - $80K|         Blue|            30|                       5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|                                                                                                                         9.6126E-5|                                                                                                                            0.9999|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                       5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|                                                                                                                         1.1382E-4|                                                                                                                           0.99989|
|714885258|Existing Customer|          44|     M|              4|        Unknown|       Unknown|   $80K - $120K|         Blue|            37|                       5|                     1|                    2|      4234.0|                972|         3262.0|               1.707|           1348|            27|                1.7|                 0.23|                                                                                                                         6.3492E-5|                                                                                                                           0.99994|
|709967358|Existing Customer|          48|     M|              4|  Post-Graduate|        Single|   $80K - $120K|         Blue|            36|                       6|                     2|                    3|     30367.0|               2362|        28005.0|               1.708|           1671|            27|              0.929|                0.078|                                                                                                                         2.3623E-4|                                                                                                                           0.99976|
|753327333|Existing Customer|          41|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            34|                       4|                     4|                    1|     13535.0|               1291|        12244.0|               0.653|           1028|            21|              1.625|                0.095|                                                                                                                         1.4953E-4|                                                                                                                           0.99985|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                       2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788|                                                                                                                         1.7468E-4|                                                                                                                           0.99983|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|        Unknown|         Blue|            37|                       6|                     1|                    2|     14470.0|               1157|        13313.0|               0.966|           1207|            21|              0.909|                 0.08|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

# Pyspark to Hive

In [8]:
from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("create_table_and_push_to_hive") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .enableHiveSupport() \
    .getOrCreate()


from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Define the schema for your table
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

# Sample data to populate the DataFrame
data = [("Alice", 30), ("Bob", 40), ("Charlie", 35)]

# Create a DataFrame with the specified schema and data
df = spark.createDataFrame(data, schema)



# Specify the database and table name
database_name = "test"
table_name = "new_table1"

# Set the current database context
spark.sql(f"USE {database_name}")

# Save the DataFrame as a Hive table
df.write.mode("overwrite").saveAsTable(table_name)

# Hadoop to hive without schema

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("read_csv_and_save_to_hive") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .enableHiveSupport() \
    .getOrCreate()

# Hadoop HDFS path where the CSV file is stored
hadoop_path = "hdfs://nameservice1/user/susan1232/testdata/part-00000-f36fb4eb-3c92-4417-9025-38259397f6a8-c000.csv"

# Read the CSV file into a DataFrame
df = spark.read.csv(hadoop_path, header=False)

# Specify the database and table name for the Hive table
database_name = "test"
table_name = "csv_data"

# Set the current database context
spark.sql(f"USE {database_name}")

# Save the DataFrame as a Hive table
df.write.mode("overwrite").saveAsTable(table_name)

# Hadoop to Hive

In [21]:
from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("create_database_and_table_in_hive") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .enableHiveSupport() \
    .getOrCreate()


# Hadoop HDFS path where the CSV file is stored
hadoop_path = "hdfs://nameservice1/user/susan1232/testdata/part-00000-f36fb4eb-3c92-4417-9025-38259397f6a8-c000.csv"

# Read the CSV file into a DataFrame
df = spark.read.csv(hadoop_path, header=False, inferSchema=True)


Database="Sampledatabase"

# Create the database if it doesn't exist
spark.sql(f"CREATE DATABASE IF NOT EXISTS {Database}")


# Define the schema of the table
schema = "name STRING, age INT"

# Specify the table name within the database
table_name = "my_table16"

# Set the current database context
spark.sql(f"USE {Database}")

# Create the table if it doesn't exist
spark.sql(f"CREATE TABLE IF NOT EXISTS {table_name} ({schema}) USING hive")

# Hadoop to Hive

In [25]:
from pyspark.sql import SparkSession
import pandas as pd

# Create a Spark session
spark = SparkSession.builder \
    .appName("Read CSV into DataFrame") \
    .getOrCreate()

# Define the path to your CSV file
file_path = 'file:///home/susan1232/BankChurners.csv'

# Read the CSV file into a DataFrame
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Define the fixed HDFS directory where you want to save the CSV file
hdfs_path = "hdfs://nameservice1/user/susan1232/venkattest/output.csv"

# Write DataFrame to HDFS in CSV format with a single output file
df.write.mode("overwrite").csv(hdfs_path)

# Stop the Spark session
spark.stop()

In [32]:
from pyspark.sql import SparkSession

# Create a Spark session with Hive support
spark = SparkSession.builder \
    .appName("create_database_and_table_in_hive") \
    .config("hive.metastore.uris", "thrift://ip-10-1-2-24.ap-south-1.compute.internal:9083") \
    .config("spark.sql.warehouse.dir", "hdfs://nameservice1/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

In [33]:
# Hadoop HDFS path where the CSV file is stored
hadoop_path = "hdfs://nameservice1/user/susan1232/venkattest/output.csv"

# Read the CSV file into a DataFrame
df = spark.read.csv(hadoop_path, header=False, schema=schema)

In [34]:
Database="Sampledatabase3"

# Create the database if it doesn't exist
spark.sql(f"CREATE DATABASE IF NOT EXISTS {Database}")

DataFrame[]

In [35]:
schema = "CLIENTNUM BIGINT, Attrition_Flag STRING, Customer_Age INT, Gender STRING, " \
         "Dependent_count INT, Education_Level STRING, Marital_Status STRING, " \
         "Income_Category STRING, Card_Category STRING, Months_on_book INT, " \
         "Total_Relationship_Count INT, Months_Inactive_12_mon INT, Contacts_Count_12_mon INT, " \
         "Credit_Limit DOUBLE, Total_Revolving_Bal INT, Avg_Open_To_Buy DOUBLE, " \
         "Total_Amt_Chng_Q4_Q1 DOUBLE, Total_Trans_Amt INT, Total_Trans_Ct INT, " \
         "Total_Ct_Chng_Q4_Q1 DOUBLE, Avg_Utilization_Ratio DOUBLE, " \
         "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1 DOUBLE, " \
         "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2 DOUBLE"



# Specify the table name within the database
table_name = "my_table22"

# Set the current database context
spark.sql(f"USE {Database}")

# Create the table if it doesn't exist
spark.sql(f"CREATE TABLE IF NOT EXISTS {table_name} ({schema}) USING hive")

DataFrame[]

In [36]:
df.write.mode("overwrite").saveAsTable(table_name)